.policy-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.policy-content {
  background: white;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 650px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.policy-content h2, .policy-content h3 {
  color: #333;
  margin: 16px 0;
}

.policy-content p, .policy-content ul {
  color: #555;
  line-height: 1.6;
}

.policy-content ul {
  padding-left: 20px;
}

.policy-content li {
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 8rem;
  color: #333;
  background: none;
  border: none;
  font-size: 14px;
  z-index: 1001;
}

.close-button::before {
  background: none;
}

@media (max-width: 830px) {
  .close-button {
    max-width: 6rem;
    font-size: 10px;
  }
}
